In [3]:
import pandas as pd
from google.cloud import bigquery

In [41]:
clickstream_df = pd.read_csv("data/clickstream.csv")
transactions_df = pd.read_csv("data/transactions.csv")

In [ ]:
clickstream_df.head()

,user_id,session_id,page_url,click_time,device,location
0,41906,4b8feef4-2332-4867-9612-f6e3d67bb70f,/home,2025-09-02T15:38:39Z,desktop,DE
1,14629,80ddb3a6-7080-4d5b-95d7-0f07296654b2,/product/alpha,2025-09-04T19:27:04Z,mobile,AU
2,5698,cc33cc49-a847-443a-9a8b-7f81f9623c2a,/checkout,2025-09-03T20:32:47Z,mobile,GB
3,14329,0f268ab7-dbd9-47c8-b4a6-4b5a4b39bac1,/product/beta,2025-09-04T02:37:18Z,desktop,AU
4,13032,b79491c9-576c-419c-a5af-6b1b1cf78092,/cart,2025-09-03T20:22:17Z,mobile,ZA

In [49]:
clickstream_df["session_id"].duplicated().values.any()

np.False_

In [43]:
transactions_df.head()

,txn_id,user_id,amount,currency,txn_time
0,00e22e71-ccc3-4cd8-8b9c-dcd45831360e,30148,69.41,GBP,2025-09-02T17:40:25Z
1,03161627-fa7d-458e-949f-890b227e1f9d,33593,216.51,USD,2025-09-04T05:01:43Z
2,b2ee8412-c2de-4278-9e84-477f3c2608b1,8863,128.51,EUR,2025-09-03T06:22:13Z
3,fd6f9752-3d98-498e-98e6-cec3f2d60c70,15370,133.82,USD,2025-09-04T23:36:06Z
4,1ff86983-6198-4b63-af63-af54d733ae2e,19387,250.94,EUR,2025-09-03T21:37:43Z

In [25]:
transactions_df["currency"].unique()

array(['GBP', 'USD', 'EUR', 'INR', 'JPY'], dtype=object)

In [38]:
transactions_df["txn_id"].duplicated().any()

np.False_

In [39]:
clickstream_df.isnull().any()

user_id       False
session_id    False
page_url      False
click_time    False
device        False
location      False
dtype: bool

In [40]:
transactions_df.isnull().any()

txn_id      False
user_id     False
amount      False
currency    False
txn_time    False
dtype: bool

In [1]:
import os 
import requests 
from dotenv import load_dotenv 
load_dotenv()


API_KEY = os.getenv("API_KEY") # Replace with your key 

url = f"https://v6.exchangerate-api.com/v6/{API_KEY}/latest/USD" 
response = requests.get(url) 
data = response.json() 

if response.status_code == 200 and data["result"] == "success": 
		rates = data["conversion_rates"] 
		print("USD to INR:", rates["INR"]) 
else: print("API Error:", data)

c:\Users\isaac\miniconda3\envs\data-science\Lib\site-packages\requests\__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(

USD to INR: 88.0852

In [5]:
client = bigquery.Client("dataengineering-internship")

# Perform a query.
QUERY = (
    'SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013` '
    'WHERE state = "TX" '
    'LIMIT 100')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish

for row in rows:
    print(row.name)

Willie
Flora
Stella
Esther
Erma
Katie
Ethel
Cora
Margarita
Mae
Mamie
Eula
Nancy
Ethel
Virginia
Nina
Beatrice
Juana
Nancy
Thelma
Virgie
Ella
Norma
Eunice
Elvira
Dollie
Mamie
Nellie
Laverne
Jessie
Johnnie
Alice
Dolores
Margarita
Doris
Frances
Addie
Beulah
Charlotte
Dixie
Eddie
Nadine
Faye
Mae
Estella
Antonia
Ann
Dominga
Ila
Olivia
Nell
Estella
Geneva
Eula
Gussie
Bessie
Kathryn
Evelyn
Virgie
Bennie
Jeanette
Dixie
Winnie
Bettie
Beulah
Pearl
Essie
Francis
Elsie
Joyce
Katie
Geneva
Mamie
Margarita
Elisa
Frankie
Lila
Estelle
Estella
Lillian
Janie
Eugenia
Eunice
Lois
Mabel
Alice
Norma
Geneva
Ruth
Tommie
Viola
Connie
Ida
Grace
Paula
Marjorie
Carmen
Lee
Linda
Elida